*,
*::before,
*::after {
    /*evita que el navegador agregue padding y margin*/
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    /*3 columnas de 200px*/
    gap: 20px;
    /* object-fit: cover; */
    /*espaciado de 20px*/
}

