*,
*::before,
*::after {
    /*evita que el navegador agregue padding y margin*/
    box-sizing: border-box;
}

.cupcake {
    display: inline-block;
    margin: 10px 15px ;
}

.cupcake .cake {
    height: 200px;
    width: 200px;
    margin: 10px 5px 20px;

}

.cupcake .cakeRose {
    height: 200px;
    width: 200px;
    margin: 10px 5px 20px;
 
}

 /* .botonVender{
    margin-top: 10px;
 
} */



/* .titulo2 {
    display: inline;
} */